*{
    font-family: Roboto !important;
}
.navbar {
    align-items: center;
    display: flex;
    height: 70px;
    background-color: #4F76F6 !important;
    /* background-color: #1F2B37 !important; */
}

.navbar-brand{
    color: white;
}

.btn-primary{
background-color: #1F2B37 !important ;
}

h2{
    margin-top: 120px;
}

.features{
    margin-top: 60px;

}

.feature-two{
    background-color: #77F2A1 !important;
}

footer{
    padding-top: 600px;
}

