*{
    font-family: Roboto !important;
}
.navbar {
    align-items: center;
    display: flex;
    height: 100px;
    background-color:#4f76f6 !important;
    /* background-color: #1F2B37 !important; */
    }
    
.navbar-brand{
    color: white;
        
}
        
.title{
    font-size: 4rem;
    display: block;
    font-weight: bold;
    font-family: Roboto !important;
    margin-bottom: 200px;
    /* text-shadow: 1px 1px 2px rgb(10, 9, 9); */
    
}

.btn-primary{
background-color: #1F2B37 !important ;
}

.btn-primary::after{
    background-color: #1F2B37 !important ;
    }

.activeButton{
    font-family:  Arial;
    /* background-color: whitesmoke !important; */
    border:1px solid #77F2A1;
    box-shadow: 0px 0px 0px 3px #77F2A1;
}
    

h2{
    margin-top: 120px;
}

.feature-one{
    margin-top: 60px;
    /* margin-bottom: 30px; */

}

.feature-two{
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #1F2B37 !important;
    color:white;
}

.feature-three{
    margin-top: 60px;
    margin-bottom: 60px;
}


.testimonial {
    margin-top: 60px;
    color:white;
    background-color:#4f76f6 !important;
}
.testimonial-heading{
    margin-top: 10px;
    margin-bottom: 30px;
    
    /* background-color:#4f76f6 !important; */
}

footer{
    padding-top: 900px;
}

